.redir{
    margin-top: 5em;
    margin-bottom: 5em;
    font-size: 35px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

.redir a, span{
    margin-top: 1em;
    cursor: pointer;
}

.redir a:hover{
    color: rgba(158, 123, 15, 0.467) !important;
    transition: 500ms;
    
}